<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AcmeCorpContainer" connectionString="metadata=res://*/AcmeCorp.csdl|res://*/AcmeCorp.ssdl|res://*/AcmeCorp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL2008;Initial Catalog=AcmeCorp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>