<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="WorkTrekRepository"/>
    <assembly name="WorkTrekRepository"/>
    <!--<alias alias="IWorkItemRepository" type="WorkTrekRepository.IWorkItemRepository, WorkTrekRepository"/>
    <alias alias="WorkItemRepository" type="WorkTrekRepository.WorkItemRepository, WorkTrekRepository"/>-->
    <container>
      <register type="IWorkItemRepository" mapTo="WorkItemRepository" >
        <constructor>
          <param name="connectionString"
                 value="metadata=res://*/WorkTrek.csdl|res://*/WorkTrek.ssdl|res://*/WorkTrek.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WorkTrek;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        </constructor>
      </register>
    </container>
  </unity>
  <connectionStrings>
    <add name="WorkTrekEntities" connectionString="metadata=res://*/WorkTrek.csdl|res://*/WorkTrek.ssdl|res://*/WorkTrek.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WorkTrek;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WorkItemsService.WorkItemServiceImpl" behaviorConfiguration="metadata">
        <endpoint address="http://localhost:9000/WorkTrek"
                  binding="basicHttpBinding"
                  contract="WorkItemsService.IWorkItem"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>