<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microsoft.identityModel"
             type= "Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <system.serviceModel>

    <services>
      <service name="DM.PetShop"
               behaviorConfiguration="PetShop">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Services" />
          </baseAddresses>
        </host>

        <!--<endpoint name="PetShop"
                  binding="ws2007HttpBinding" bindingConfiguration="PetShopViaWS2007WithUserName"
                  bindingName="PetShopViaWS2007WithUserName" bindingNamespace="urn:dm:petshop:services"
                  contract="DM.IPetShop">
        </endpoint>-->
        <endpoint binding="ws2007FederationHttpBinding"
                  bindingConfiguration="PetShopViaWS2007Federation"
                  bindingName="PetShopViaWS2007Federation"
                  bindingNamespace="urn:dm:petshop:services"
                  contract="DM.IPetShop" />
      </service>
    </services>

    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="PetShopViaWS2007Federation">
          <security mode="Message">
            <message>
              <issuerMetadata address="http://localhost:9000/PetShopSTS/mex" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PetShop">
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate storeLocation="CurrentUser"
                                storeName="TrustedPeople"
                                x509FindType="FindBySubjectName"
                                findValue="PetShopService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="http://localhost:9000/Services" />
      </audienceUris>
      
      <certificateValidation certificateValidationMode="PeerOrChainTrust"
                             revocationMode="NoCheck" />

      <claimsAuthorizationManager type="DM.PetShopClaimsAuthorizationManager, PetShopService"/>
      <issuerNameRegistry type="DM.PetShopIssuerNameRegistry,PetShopService" />
    </service>
  </microsoft.identityModel>

</configuration>