
@model WebWeather.Models.WeatherStationsModel

<body>
    <div>
        <h1>Weather History</h1>
        
          @foreach (string station in Model.Stations)
          {
              @station <br/>
          }
              
    </div>
</body>

