@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <input type="text" placeholder="your name" id="name" class="form-control"/>
        <button id="join" class="btn btn.danger">Join</button>
    </div>
    <div>
        <input type="text" placeholder="your message" id="message" class="form-control" />
        <button id="chat" class="btn btn.success">Send Chat</button>
    </div>
    <div id="messages">
        
    </div>
</div>