<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccumulate" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAccumulate" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAccumulate" />
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:9000/Accumulate" binding="wsHttpBinding"
        contract="Contracts.IAccumulate" name="WSAccumulate" />
      <endpoint address="net.tcp://localhost:9005/Accumulate" binding="netTcpBinding"
        contract="Contracts.IAccumulate" name="TCPAccumulate" />
      <endpoint address="http://localhost:9000/Accumulate/basic" binding="basicHttpBinding"
        contract="Contracts.IAccumulate" name="BasicAccumulate" />-->
      <endpoint address="http://localhost:9000/Accumulate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAccumulate" contract="AccumulateProxies.IAccumulate"
        name="WSHttpBinding_IAccumulate">
        <identity>
          <userPrincipalName value="ITR3\ITR" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9005/Accumulate" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAccumulate" contract="AccumulateProxies.IAccumulate"
        name="NetTcpBinding_IAccumulate">
        <identity>
          <userPrincipalName value="ITR3\ITR" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9000/Accumulate/basic" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccumulate" contract="AccumulateProxies.IAccumulate"
        name="BasicHttpBinding_IAccumulate" />
    </client>
  </system.serviceModel>
</configuration>