<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microsoft.identityModel"
             type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
  </configSections>

  <system.serviceModel>

    <services>
      <service name="DM.PetShop"
               behaviorConfiguration="PetShop">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Services" />
          </baseAddresses>
        </host>

        <endpoint name="PetShop"
                  binding="ws2007HttpBinding"
                  bindingConfiguration="PetShopViaWS2007WithUserName"
                  bindingName="PetShopViaWS2007WithUserName"
                  bindingNamespace="urn:dm:petshop:services"
                  contract="DM.IPetShop">
        </endpoint>
      </service>
    </services>

    <bindings>
      <ws2007HttpBinding>
        <binding name = "PetShopViaWS2007WithUserName">
          <security mode="Message">
            <message clientCredentialType="UserName"
                     establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PetShop">
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate storeLocation="CurrentUser"
                                storeName="TrustedPeople"
                                x509FindType="FindBySubjectName"
                                findValue="PetShopService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
        <remove type= "Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add type="DM.PetShopUserNameSecurityTokenHandler, PetShopService"/>
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>

</configuration>