<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
      
      <services>
        
          <service name="WcfBindings.BookService"
                   behaviorConfiguration="mex">
            
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1234/BookService" />
              </baseAddresses>
            </host>
            
            <endpoint address=""
                      binding="webHttpBinding"
                      contract="WcfBindings.IBookService"
                      behaviorConfiguration="web"/>
            
          </service>
        
      </services>
      
      <behaviors>

        <endpointBehaviors>
          <behavior name="web">
            <webHttp/>
          </behavior>
        </endpointBehaviors>

        <serviceBehaviors>
          <behavior name="mex">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>

      </behaviors>
    
    </system.serviceModel>
  
</configuration>