<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
      
      <services>
        
          <service name="WcfBindings.BookService"
                   behaviorConfiguration="mex">
            
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1234/BookService" />
              </baseAddresses>
            </host>

            <!-- TODO: Add an behaviorConfiguration attribute 
                 which points to the endpoint behavior -->

            <endpoint address=""
                      binding="webHttpBinding"
                      contract="WcfBindings.IBookService"/>
            
          </service>
        
      </services>
      
      <behaviors>

        <!-- TODO: Add an endpoint behavior with <webHttp/> -->

        <serviceBehaviors>
          <behavior name="mex">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>

      </behaviors>
    
    </system.serviceModel>
  
</configuration>