<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>

    <behaviors>

      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="xml">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <services>
        
          <service name="WcfBindings.BookService"
                   behaviorConfiguration="mex">
            
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1234/BookService" />
              </baseAddresses>
            </host>
            
            <endpoint address=""
                      binding="webHttpBinding"
                      contract="WcfBindings.IBookService"
                      behaviorConfiguration="xml"/>
            
          </service>
        
      </services>
      
    </system.serviceModel>
  
</configuration>