<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>

    <behaviors>

      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
      <!-- TODO: Add an endpointBehaviors element with a behavior 
           called "xml" that has a <webHttp/> element -->

    </behaviors>

    <services>
        
          <service name="WcfBindings.BookService"
                   behaviorConfiguration="mex">
            
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1234/BookService" />
              </baseAddresses>
            </host>
            
            <!-- TODO: Change the endpoint binding to webHttpBinding -->
            
            <!-- TODO: Add a behaviorConfiguration attribute to the endpoint
                 referencing the "xml" endpoint behavior -->
            
            <endpoint address=""
                      binding="basicHttpBinding"
                      contract="WcfBindings.IBookService"/>
            
          </service>
        
      </services>
      
    </system.serviceModel>
  
</configuration>